@charset "ISO-8859-1";

.imagen1{
	width : 200px;
	height: 300px;
	
}

.imagen #sinopsis{

    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 15%;
    left: 0%;
    margin-left: 0px;
    opacity: 0;
    transition: opacity 0.3s;
	
}

.imagen #sinopsis::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}



.imagen:hover #sinopsis{
    visibility: visible;
    opacity: 1;  	 
}

/*************CSS PPROPIO*****************/




/********************************ESTRELLAS***********************************/
#form {
  width: 250px;
  margin: 0 auto;
  height: 100px;
}

#form p {
  text-align: center;
}

#form label {
  font-size: 20px;
}

input[type="radio"] {
  display: none;
}

label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
}

label:hover,
label:hover ~ label {
  color: orange;
}

input[type="radio"]:checked ~ label {
  color: orange;
}

